<%= error_messages_for 'dues_type' %>

<!--[form:dues_type]-->
<div id="maint-form">
<p><label for="dues_type_description">Description</label><br/>
<%= text_field 'dues_type', 'description'  %></p>
</div>
<!--[eoform:dues_type]-->

