<%= error_messages_for 'state' %>

<!--[form:state]-->
<div id="maint-form">
<p><label for="state_code">Code</label><br/>
<%= text_field 'state', 'code'  %></p>

<p><label for="state_name">Name</label><br/>
<%= text_field 'state', 'name'  %></p>
</div>
<!--[eoform:state]-->

