<h2>Editing Event</h2>

<% form_tag :action => 'update', :id => @event do %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag 'Edit' %></p>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @event %> |
<%= link_to 'Back', :action => 'list' %>
