<h2>Editing News Story</h2>

<% form_for(:story, :url => story_path(@story), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag "Update" %></p>
<% end %>

<%= link_to 'Show', story_path(@story) %> |
<%= link_to 'Back', stories_path %>