<%= error_messages_for 'board_title' %>

<!--[form:board_title]-->
<div id="maint-form">
<p><label for="board_title_description">Description</label><br/>
<%= text_field 'board_title', 'description'  %></p>
</div>
<!--[eoform:board_title]-->

