<%= error_messages_for 'member_level' %>

<!--[form:member_level]-->
<div id="maint-form">
<p><label for="member_level_description">Level</label><br/>
<%= text_field 'member_level', 'description'  %></p>
</div>
<!--[eoform:member_level]-->

