<h2>Editing Member Level</h2>

<% form_tag :action => 'update', :id => @member_level do %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag 'Edit' %></p>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @member_level %> |
<%= link_to 'Back', :action => 'list' %>
