<h2>Showing Member Level</h2>

<% for column in MemberLevel.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @member_level.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @member_level %> |
<%= link_to 'Back', :action => 'list' %>
